
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: turquoise;
}

#stringInput {
    width: 300px;
    padding: 5px;
    cursor: text;
        }

#operationsContainer {
    margin-top: 20px;
}

.operationBtn {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    border: 10x ;
    border-color: rgb(155, 88, 182);
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 800;
    
}
#memoryInfo {
    margin-top: 50px;
}
#time{
    font: bolder;
    color: black;
    font-size: large;
    position: fixed;
    
}
#timestop{
    font: bolder;
    color: black;
    font-size: large;
    position: fixed;
    
}